<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<html>
<div class="errorPage">
    <span class="oops">Oops!</span><br/>
    <img th:src="@{/img/MissingPage.png}"></img>
    <p>There seems to be a problem with the page you requested
        (<span th:text="${path}"></span>).</p>
    <p th:text="${'message: ' + message}"></p>
    <p th:text="${'timestamp: ' + timestamp}"></p>
    <p th:text="${'status: ' + status}"></p>
    <p th:text="${'error: ' + error}"></p>
    <p th:text="${'exception: ' + exception}"></p>
    <p th:text="${'message: ' + message}"></p>
    <p th:text="${'errors: ' + errors}"></p>
    <p th:text="${'trace: ' + trace}"></p>
    <p th:text="${'path: ' + path}"></p>

</div>
</html>
</html>